<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
            </a>
          </div>

          <div class="row m-t-24 custom-row">
            <div class="col-12 col-sm-6">
              <button mat-stroked-button class="w-100">
                <div class="d-flex align-items-center">
                  <img src="/assets/images/svgs/google-icon.svg" alt="google" width="16" class="m-r-8" />
                  Sign in with Google
                </div>
              </button>
            </div>
            <div class="col-12 col-sm-6">
              <button mat-stroked-button class="w-100 d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <img src="/assets/images/svgs/facebook-icon.svg" alt="facebook" width="40" class="m-r-4" />
                  Sign in with FB
                </div>
              </button>
            </div>
          </div>

          <div class="or-border m-t-30">or sign up with</div>

          <form [formGroup]="registerForm" class="m-t-30" (ngSubmit)="register()">
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
                Name is required.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label>Email Address</mat-label>
              <input matInput type="email" formControlName="email" />
              <mat-error *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                Valid email is required.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" />
              <mat-error *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                Password minimal 8 baris
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" formControlName="password_confirmation" />
              <mat-error *ngIf="registerForm.get('password_confirmation')?.invalid && registerForm.get('password_confirmation')?.touched">
                <span *ngIf="registerForm.get('password_confirmation')?.errors?.['required']">
                  Confirm Password is required.
                </span>
                <span *ngIf="registerForm.get('password_confirmation')?.errors?.['passwordMismatch']">
                  Passwords tidak sama
                </span>
              </mat-error>
            </mat-form-field>

            <button mat-flat-button color="primary" class="w-100" type="submit">
              Sign Up
            </button>
          </form>

          <span class="d-block f-w-500 text-center m-t-24">
            Already have an Account?
            <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Sign In
            </a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
