<div class="merk-container">
    <h2>Merk List</h2>
    <button mat-raised-button color="primary" (click)="addItem()" style="margin-bottom: 10px;">Tambah</button>
    <button mat-raised-button color="accent" (click)="importCSV()" style="margin-bottom: 10px;">Import CSV</button>

  <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput>
    
    <mat-form-field appearance="outline" style="margin-bottom: 10px; width: 100%;">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Cari kategori">
  </mat-form-field>
    <!--
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    -->
    <table mat-table [dataSource]="Merk" matSort class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id_merk">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let item"> {{ item.id_merk }} </td>
      </ng-container>
  
      <!-- Nama merk Column -->
      <ng-container matColumnDef="nama_merk">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nama Merk </th>
        <td mat-cell *matCellDef="let item"> {{ item.nama_merk }} </td>
      </ng-container>
      
      <ng-container matColumnDef="qrcode">
        <th mat-header-cell *matHeaderCellDef> QR Code </th>
        <td mat-cell *matCellDef="let item">
          <qrcode [qrdata]="generateQRData(item)" class="qrcode"></qrcode>
        </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let item">
          <!-- Edit Button -->
          <button mat-icon-button color="primary" (click)="editItem(item)" style="margin-left: -15px;">
            edit
          </button>
  
          <!-- Delete Button -->
          <button mat-icon-button color="warn" (click)="deleteItem(item.id_merk)">
            delete
          </button>
        </td>
      </ng-container>
  
      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  