<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="data.form">
    <mat-form-field appearance="outline">
      <mat-label>Nama series</mat-label>
      <input matInput formControlName="nama_series">
      <mat-error *ngIf="data.form.controls['nama_series'].hasError('required')">
        Nama series is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.form.value" cdkFocusInitial>Save</button>
</div>
